:root {
  --primary-color: #550062;
  --text-color: #eaeaea;
  --background-color: #36003E;
}

.tarefa {
  background-color: #eaeaea20;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--text-color);
  position: relative;
  border-left: 6px solid transparent;
}

.tarefa strong {
  color: var(--text-color);
  font-size: 1.2em;
  font-weight: bold;
}

.tarefa p {
  color: var(--text-color);
  font-weight: normal;
  opacity: 75%;
}

.tarefa.concluida {
  background-color: #d0f0c015;
  text-decoration: line-through;
  color: #eaeaea75;
}

.tarefa-botoes {
  display: flex;
  gap: 10px;
}

.tarefa-botoes button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.tarefa-botoes button:hover {
  transform: scale(1.2);
}

.tarefa .prioridade.baixa {
  border-left-color: #0d00ff;
}

.tarefa .prioridade.media {
  border-left-color: #ffcc00;
}

.tarefa .prioridade.alta {
  border-left-color: #ff0026;
}

.data-limite {
  font-size: 0.8rem;
  opacity: 0.85;
  color: var(--text-color);
}

.data-limite.atrasada {
  color: #eaeaea90;
  font-weight: normal;
}
