* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #550062;
  --text-color: #eaeaea;
  --background-color: #36003E;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

